<!-- IGNOR START -->
<section class="block ignor">
    <div class="container">
        <h2 class="title ignor__title">
            Игнорирование геморроя —
            прямой путь к&nbsp;раку!
        </h2>
        <p class="ignor__descr">
            Если сейчас принять геморрой и&nbsp;смириться с&nbsp;болями,
            дальше бороться с&nbsp;последствиями болезни будет сложнее
        </p>
        <div class="ignor__center">
            <ul class="ignor__list">
                <li class="ignor__item">
                    <span>Воспаление</span> и гноение прямой кишки
                </li>
                <li class="ignor__item">
                    <span>Заражение</span> брюшной полости прорывами гноя
                </li>
                <li class="ignor__item">
                    <span>Тромбоз</span> геморроидальных узлов
                </li>
                <li class="ignor__item">
                    <span>Некроз</span> прямой кишки
                </li>
                <li class="ignor__item">
                    <span>Возникновение</span> раковых заболеваний
                </li>
            </ul>
            <div class="ignor__box-img">
                <img src="./img/ignor-img.png" alt="">
            </div>
        </div>
        <div class="ignor__bottom">
            <span class="ignor__bottom-big">Не затягивайте с&nbsp;лечением&nbsp;—</span><br>
            избавиться от геморроя можно уже сейчас&nbsp;с&nbsp;<span class="ignor__bottom-prod">Rectin</span>!
        </div>
    </div>
</section>
<!-- IGNOR END -->