<!-- SPEC START -->
<section class="block spec">
    <div class="container">
        <h2 class="title spec__title">
            Почему специалисты доверяют <span>Rectin</span>
        </h2>
        <div class="spec__slider">
            <ul class="spec__top">
                <li class="spec__main-slide">
                    <div class="spec__img-box active">
                        <img src="./img/spec1.jpg" alt="specialist" class="spec__img1 spec__img">
                    </div>
                    <div class="spec__head">
                        <div class="spec__person spec__person_1 active">
                            <h3 class="spec__name">
                                Джим Ривера
                            </h3>
                            <p class="spec__prof">
                                специалист в области акушерства и&nbsp;гинекологии
                            </p>
                        </div>
                        <div class="spec__person spec__person_2">
                            <h3 class="spec__name">
                                Ханна Фернандос
                            </h3>
                            <p class="spec__prof">
                                эксперт в области <br>проктологии
                            </p>
                        </div>
                        <div class="spec__person spec__person_3">
                            <h3 class="spec__name">
                                Кристина Луар
                            </h3>
                            <p class="spec__prof">
                                консультант по здоровому
                                образу жизни
                            </p>
                        </div>
                    </div>
                </li>
                <li class="spec__item">
                    <div class="spec__img-box_dis">
                        <img src="./img/spec2.jpg" alt="specialist" class="spec__img2 spec__img">
                    </div>
                    <div class="spec__img-box_dis">
                        <img src="./img/spec3.jpg" alt="specialist" class="spec__img3 spec__img">
                    </div>
                </li>
            </ul>
            <div class="spec__nav">
                <div class="spec__arr spec__arr_left">
                </div>
                <div class="spec__arr spec__arr_right">
                </div>
            </div>
            <div class="spec__content">
                <div class="spec__content-box">
                    <div class="spec__text spec__text_1 active">
                        Беременные девушки, к несчастью, часто заложницы геморроя.
                        В&nbsp;такой деликатной проблеме натуральное средство Rectin — просто находка для&nbsp;здоровья мамы и&nbsp;гарантия безопасности ее будущего малыша.
                        Да&nbsp;и&nbsp;наносить его дома легко.
                    </div>
                    <div class="spec__text spec__text_2">
                        Основное в лечении геморроя — лечить проблему изнутри. Если
                        не&nbsp;хотите, чтоб у вас вся жизнь
                        в&nbsp;прямом и&nbsp;переносном смысле кровоточила — правильно питайтесь, следите за гигиеной
                        и&nbsp;пройдите весь курс Rectin. Забудете о проблеме навсегда!
                    </div>
                    <div class="spec__text spec__text_3">
                        Как ярый приверженец
                        новшеств в изучении анатомии, на 
                        &nbsp;конференции в Барселоне заприметила препарат Rectin.
                        На сегодняшний день
                        я не встречала более эффективного подбора действующих компонентов.
                    </div>
                </div>
                <div class="spec__btn ever-popup-btn btn">
                    Начать курс Rectin
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SPEC END -->