<!-- JAM START -->
<div class="jam">
    <div class="container">
        <div class="jam__nav">
            <div class="jam__logo">
                <img src="./img/logo.png" alt="Rectin">
            </div>
            <nav class="jam__links">
                <div class="jam__item jam__item_1">
                    <a href="#search" class="jam__link">
                        Эффективность
                    </a>
                </div>
                <div class="jam__item jam__item_2">
                    <a href="#reviews" class="jam__link">
                        Отзывы
                    </a>
                </div>
            </nav>
            <p class="jam__quick">
                Успейте купить со скидкой!
            </p>
            <div class="jam__timer">
                <div class="jam__hours">
                    <span class="hours">0</span>
                    <span class="hours">0</span>
                </div>
                <div class="jam__minutes">
                    <span class="minutes">2</span>
                    <span class="minutes">3</span>
                </div>
                <div class="jam__seconds">
                    <span class="seconds">4</span>
                    <span class="seconds">5</span>
                </div>
            </div>
            <div class="jam__btn btn ever-popup-btn">
                Заказать
            </div>
        </div>
    </div>
</div>
<!-- JAM END -->