<!-- USAGE START -->
<section class="block usage">
    <div class="container">
        <h2 class="title usage__title">
            Применять <span>Rectin</span> удобно даже в&nbsp;домашних условиях:
        </h2>
        <ul class="usage__list">
            <li class="usage__item">
                <p class="usage__text">
                    Перед нанесением <span>Rectin</span> хорошо промойте поверхность мягким мылом
                    с&nbsp;водой&nbsp;и&nbsp;высушите.
                </p>
            </li>
            <li class="usage__item">
                <p class="usage__text">
                    Наденьте на&nbsp;трубку насадку и&nbsp;аккуратно нанесите крем на&nbsp;нижнюю внутреннюю часть анального прохода.
                </p>
            </li>
            <li class="usage__item">
                <p class="usage__text">
                    Повторяйте процедуру утром и&nbsp;вечером, а&nbsp;также после каждого акта дефекации
                    по необходимости.
                </p>
            </li>
        </ul>
        <div class="usage__img-box">
            <img src="./img/usage-prod.png" alt="Rectin">
        </div>
        <div class="usage__btn btn ever-popup-btn">
            Начать курс Rectin
        </div>
    </div>
</section>
<!-- USAGE END -->