<!-- USAGE START -->
<section class="block usage">
    <ul class="container">
        <h2 class="title usage__title">
            Применять <span>Rectin</span> удобно даже в домашних условиях:
        </h2>
        <ul class="usage__list">
            <li class="usage__item">
                <p class="usage__text">
                    Перед нанесением <span>Rectin</span> хорошо промойте поверхность мягким мылом
                    с водой и высушите
                </p>
            </li>
            <li class="usage__item">
                <p class="usage__text">
                    Наденьте на трубку насадку и аккуратно нанесите крем на нижнюю внутреннюю часть анального прохода.
                </p>
            </li>
            <li class="usage__item">
                <p class="usage__text">
                    Повторяйте процедуру утром и вечером, а также после каждого акта дефекации
                    по необходимости.
                </p>
            </li>
        </ul>
        </div>
</section>
<!-- USAGE END -->