<!-- REVIEWS START -->
<section class="block reviews" id="reviews">
    <div class="container">
        <h2 class="title reviews__title">
            Отзывы людей после применения <span>Rectin</span>
        </h2>
        <p class="reviews__info">
            Уже воспользовались <span>Rectin</span>? Помогите другим почувствовать его&nbsp;эффективность.
        </p>
        <ul class="reviews__list">
            <li class="reviews__item reviews__item_1">
                <div class="reviews__img-box">
                    <img src="./img/reviews1.png" alt="review" class="reviews__img">
                </div>
                <div class="reviews__text-box">
                    <h3 class="reviews__name">
                        Дина
                    </h3>
                    <div class="reviews__city">
                        возраст XX, город Сталинград
                    </div>
                    <div class="reviews__text">
                        Отличный продукт! Прошло всего
                        2&nbsp;недели применения, а&nbsp;я&nbsp;уже чувствую себя намного лучше.
                    </div>
                </div>
            </li>
            <li class="reviews__item reviews__item_2">
                <div class="reviews__img-box">
                    <img src="./img/reviews2.png" alt="review" class="reviews__img">
                </div>
                <div class="reviews__text-box">
                    <h3 class="reviews__name">
                        Ненси Т.
                    </h3>
                    <div class="reviews__city">
                        возраст XX, город Сталинград
                    </div>
                    <div class="reviews__text">
                        Достойный препарат, удобно применять и не&nbsp;надо вставлять никакие свечи. Точно могу сказать, что
                        Rectin просто находка.
                    </div>
                </div>
            </li>
            <li class="reviews__item reviews__item_3">
                <div class="reviews__img-box">
                    <img src="./img/reviews3.png" alt="review" class="reviews__img">
                </div>
                <div class="reviews__text-box">
                    <h3 class="reviews__name">
                        Рикардо Л.
                    </h3>
                    <div class="reviews__city">
                        возраст XX, город Сталинград
                    </div>
                    <div class="reviews__text">
                        За последний год перепробовал
                        уже&nbsp;4 бренда, остановился на&nbsp;Rectin. Результат после месяца порадовал.
                    </div>
                </div>
            </li>
        </ul>
        <div class="reviews__textarea-box">
            <textarea name="" id="" class="reviews__textarea" placeholder="Добавьте ваш отзыв"></textarea>
            <div class="btn reviews__btn">
                Отправить отзыв
            </div>
        </div>
    </div>
</section>
<!-- REVIEWS END -->