<!-- FUNC START -->
<section class="block func">
    <div class="container">
        <h2 class="title func__title">
            <span>Rectin</span> поможет <br>навсегда забыть о&nbsp;проявлениях и&nbsp;ощущениях геморроя:
        </h2>
        <ul class="func__list">
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Обезболивает</b> анальный проход <br><i>благодаря экстракту мимозы</i>
            </li>
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Регенерирует</b> ткани в&nbsp;области ануса <br><i>благодаря экстракту эклипты</i>
            </li>
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Снимает зуд</b> и&nbsp;жжение в&nbsp;анальном проходе <br><i>благодаря экстракту прутняка китайского</i>
            </li>
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Возвращает</b> тонус и&nbsp;эластичность вен <br><i>благодаря экстракту паслена черного</i>
            </li>
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Ускоряет</b> заживление трещин <br><i>благодаря наличию алоэ вера в&nbsp;составе</i>
            </li>
            <li class="func__item">
                <div class="func__circle"></div>
                <b>Устраняет</b> инфекции и&nbsp;гнойные процессы <br><i>благодаря цинку и&nbsp;экстракту коричника камфорного</i>
            </li>
        </ul>
        <div class="func__img-box">
            <img src="./img/func-prod.png" alt="Rectin" class="func__img">
        </div>
        <div class="btn func__btn ever-popup-btn">
            Начать курс Rectin
        </div>
    </div>
</section>
<!-- FUNC END -->