.help {
    background: url(../img/help-bg.jpg)no-repeat center center / cover;
    padding-top: 81px;
    padding-bottom: 99px;

    &__title {
        color: #fff;

        span {
            color: $mainColor;
        }
    }

    &__circle {
        background: $mainColor;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: relative;

        &::before,
        &::after {
            content: '';
            background: #0f216d;
            height: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 2px;
        }

        &::before {
            transform: rotate(46deg) translateX(-6px) translateY(12px);
            width: 16px;
        }

        &::after {
            width: 33px;
            transform: rotate(-47deg) translateX(-3px) translateY(-6px);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 44px;
    }

    &__item {
        background: #fff;
        border-radius: 50px 0;
        width: 371px;
        height: 126px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 31px;
        transition: .3s;
        cursor: pointer;
        
        &:hover {
            box-shadow: 0 0 30px 0 rgba(255, 255, 255, .4);
        }
    }

    &__content {
        font-size: 22px;
        width: 280px;
        padding-left: 25px;
        line-height: 1.2;
        color: #0f216d;

        &_3 {
            font-size: 24px;
        }

        span {
            font-weight: 700;
            font-size: 24px;
            color: #000;
        }
    }

    &__btn {
        margin: 65px auto 0;
        width: 326px;
    }
}

@media (max-width: 1219px) {
    .help {
        &__item {
            width: 310px;
            padding-left: 15px;
        }

        &__content {
            width: 235px;
            padding-left: 15px;
            font-size: 20px;

            span {
                font-size: 22px;
            }
        }

        &__list {
            margin-top: 35px;
        }

        &__btn {
            margin-top: 35px;
        }

        &__circle {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 1023px) {
    .help {
        &__list {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 15px;
        }

        &__item {
            margin: 15px;
            height: 100px;
        }

        &__btn {
            margin-top: 15px;
        }
    }
}

@media (max-width: 767px) {
    .help {
        &__btn {
            width: 270px;
        }
    }
}

@media (max-width: 639px) {}

@media (max-width: 479px) {
    .help {
        &__content {
            font-size: 16px;
            width: 215px;

            span {
                font-size: 18px;
            }
        }

        &__circle {
            width: 30px;
            height: 30px;

            &::before {
                transform: rotate(46deg) translateX(-6px) translateY(7px);
                width: 10px;
            }

            &::after {
                transform: rotate(-47deg) translateX(-1px) translateY(-7px);
                width: 25px;
            }
        }

        &__item {
            margin: 10px;
            width: 280px;
        }
    }
}