<!-- REASONS START -->
<section class="block reasons">
    <div class="container">
        <h2 class="title">
            Геморрой не дает нормально жить?
        </h2>
        <ul class="reasons__list">
            <li class="reasons__item">
                <div class="reasons__img-box">
                    <img src="./img/reasons1.png" alt="reason">
                </div>
                <p class="reasons__text">
                    <span>Трещины</span>
                    и&nbsp;ощущение инородного тела
                    в&nbsp;анальном отверстии
                </p>
            </li>
            <li class="reasons__item">
                <div class="reasons__img-box">
                    <img src="./img/reasons2.png" alt="reason">
                </div>
                <p class="reasons__text">
                    <span>Кровотечение</span>
                    при&nbsp;дефекации
                </p>
            </li>
            <li class="reasons__item">
                <div class="reasons__img-box">
                    <img src="./img/reasons3.png" alt="reason">
                </div>
                <p class="reasons__text">
                    Длительные
                    <span>ноющие боли</span>, дискомфорт и&nbsp;зуд после дефекации
                </p>
            </li>
            <li class="reasons__item">
                <div class="reasons__img-box">
                    <img src="./img/reasons4.png" alt="reason">
                </div>
                <p class="reasons__text">
                    <span>Выпадение</span> геморроидальных узлов
                </p>
            </li>
            <li class="reasons__item">
                <div class="reasons__img-box">
                    <img src="./img/reasons5.png" alt="reason">
                </div>
                <p class="reasons__text">
                    Гнойное <span>воспаление</span> прямой кишки
                </p>
            </li>
        </ul>
    </div>
</section>
<!-- REASONS END -->