<!-- CALL START -->
<section class="block call">
    <div class="container">
        <div class="call__box">
            <div class="call__left">
                <div class="call__img">
                    <img src="./img/info-call.png" alt="">
                </div>
                <p class="call__text">
                    При возникновении вопросов вы всегда можете
                    с&nbsp;нами связаться и&nbsp;получить подробную <a href="">бесплатную консультацию</a>
                    о&nbsp;продукте и&nbsp;способе его применения.
                </p>
            </div>
            <div class="call__right">
                <div class="call__btn btn">
                    Получить консультацию
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CALL END -->