<!-- KIND START -->
<section class="block kind">
    <div class="container">
        <h2 class="title kind__title">
            <span>Rectin</span> устраняет все формы геморроя
        </h2>
        <ul class="kind__list">
            <li class="kind__item">
                <h3 class="kind__top">
                    Внутренний геморрой
                </h3>
                <div class="kind__item-body">
                    <div class="kind__img-box">
                        <img src="./img/kind1.png" alt="kind">
                    </div>
                    <p class="kind__name">
                        Симптомы:
                    </p>
                    <ul class="kind__symp">
                        <li class="kind__symp-one kind__symp-one_first">
                            Кровотечение во время дефекации или нагрузок
                        </li>
                        <li class="kind__symp-one">
                            Узлы возникают внутри анального канала
                        </li>
                        <li class="kind__symp-one">
                            Узлы покрыты слизистой
                        </li>
                        <li class="kind__symp-one">
                            В зависимости от стадии размер узлов увеличивается и они могут выпадать
                        </li>
                        <li class="kind__symp-one">
                            Вызывают отек и сильную боль
                        </li>
                    </ul>
                </div>
            </li>
            <li class="kind__item">
                <h3 class="kind__top">
                    Внешний геморрой
                </h3>
                <div class="kind__item-body">
                    <div class="kind__img-box">
                        <img src="./img/kind2.png" alt="kind">
                    </div>
                    <p class="kind__name">
                        Симптомы:
                    </p>
                    <ul class="kind__symp">
                        <li class="kind__symp-one kind__symp-one_first">
                            Кровотечений обычно не&nbsp;возникает
                        </li>
                        <li class="kind__symp-one">
                            Узлы возникают возле анального отверстия (не путать с выпавшими узлами!)
                        </li>
                        <li class="kind__symp-one">
                            Узлы покрыты кожей
                        </li>
                        <li class="kind__symp-one">
                            Размер узлов - 3мм и более
                        </li>
                        <li class="kind__symp-one">
                            Вызывают дискомфорт и боль
                        </li>
                    </ul>
                </div>
            </li>
            <li class="kind__item">
                <h3 class="kind__top">
                    Комбинированный геморрой
                </h3>
                <div class="kind__item-body kind__item-body_3">
                    <div class="kind__img-box">
                        <img src="./img/kind3.png" alt="kind">
                    </div>
                    <p class="kind__name">
                        Симптомы:
                    </p>
                    <ul class="kind__symp">
                        <li class="kind__symp-one kind__symp-one_1">
                            Сочетает признаки внутренней и&nbsp;внешней форм
                        </li>
                        <li class="kind__symp-one kind__symp-one_2">
                            Кровотечения
                        </li>
                        <li class="kind__symp-one kind__symp-one_last">
                            Наружные и внутренние узлы
                        </li>
                        <li class="kind__symp-one kind__symp-one_last">
                            Дискомфорт
                        </li>
                        <li class="kind__symp-one kind__symp-one_last">
                            Отек
                        </li>
                        <li class="kind__symp-one kind__symp-one_last">
                            Боль
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="kind__btn btn">
            Начать курс Rectin
        </div>
    </div>
</section>
<!-- KIND END -->