<!-- ORDER START -->
<section class="block order">
    <div class="container">
        <h2 class="title order__title">
            Заказать оригинальный <span>Rectin</span>
        </h2>
        <p class="order__text">
            можно только на&nbsp;нашем сайте
        </p>
        <div class="order__list">
            <div class="order__item order__item_notlast">
                <div class="order__img-box">
                    <img src="./img/order1.png" alt="order-img" class="order__img">
                </div>
                <p class="order__step">
                    Заполните форму на&nbsp;сайте
                </p>
            </div>
            <div class="order__item order__item_notlast">
                <div class="order__img-box">
                    <img src="./img/order2.png" alt="order-img" class="order__img">
                </div>
                <p class="order__step">
                    Дождитесь звонка оператора
                </p>
            </div>
            <div class="order__item">
                <div class="order__img-box">
                    <img src="./img/order3.png" alt="order-img" class="order__img">
                </div>
                <p class="order__step">
                    Получите посылку по&nbsp;почте
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ORDER END -->