<!-- SEARCH START -->
<section class="block search" id="search">
    <div class="container">
        <h2 class="title search__title">
            Масштабные исследования <br>подтверждают эффективность <span>Rectin</span>
        </h2>
        <p class="search__count">
            Среди <span>6427</span> пациентов
        </p>
        <div class="search__body">
            <div class="search__img-box">
                <img src="./img/search-img.png" alt="diagram">
            </div>
            <ul class="search__list">
                <li class="search__item search__item_1">
                    <div class="search__circle search__circle_1"></div>
                    <div class="search__num">
                        60,6<span>%</span>
                    </div>
                    <div class="search__people">
                        (3893 человек)
                    </div>
                    <div class="search__text">
                        устранили основные проблемы
                    </div>
                </li>
                <li class="search__item search__item_2">
                    <div class="search__circle search__circle_2"></div>
                    <div class="search__num">
                        1,2<span>%</span>
                    </div>
                    <div class="search__people">
                        (78 человек)
                    </div>
                    <div class="search__text">
                        почувствовали некоторое облегчение
                    </div>
                </li>
                <li class="search__item search__item_3">
                    <div class="search__circle search__circle_3"></div>
                    <div class="search__num">
                        38,2<span>%</span>
                    </div>
                    <div class="search__people">
                        (2456 человек)
                    </div>
                    <div class="search__text">
                        полностью избавились от&nbsp;геморроя
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- SEARCH END -->